Value LOCAL_INTERFACE (\S+)
Value NEIGHBOR_INTERFACE (\S+)
Value NEIGHBOR (\S+)

Start
  ^Local\s+Information:\s+
  ^Local\s+Interface\s+:\s+${LOCAL_INTERFACE}
  ^Neighbor\s+Information:\s+
  ^Port\s+description\s+:\s+${NEIGHBOR_INTERFACE}
  ^System\s+name\s+:\s+${NEIGHBOR} -> Record

EOF
