# Just some initial scaffolding to handle single group case with single port
Value GROUP (\d+\.\d+\.\d+\.\d+)
Value TYPE ([a-zA-Z]+)
Value List PORTS (\S+)

Start
  ^Interface:\s+${PORTS},
  ^\s+Group:\s+${GROUP}
  ^.*Type:\s+${TYPE} -> Record

EOF
