# Just some initial scaffolding to handle single group case with single ge port
# since vjunos-router is port limited anyway
Value GROUP (\d+\.\d+\.\d+\.\d+)
Value TYPE ([a-zA-Z]+)
Value PORTS ([0-9])

Start
  ^Interface:\s+ge-0/0/${PORTS}\.0,
  ^\s+Group:\s+${GROUP}
  ^.*Type:\s+${TYPE} -> Record
